* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'Roboto Condensed';
}
body {
  
}
.header {
    background-color: black;
    width: 100%;
    height: 80px;
    padding-top: 30px;  
    padding-left: 100px;  
   
}
.paragraph {
    /* align-items: baseline; */
}
h4 {
    width: 30%;
    color: white;   
}
.logo{
    vertical-align: middle;
    font-size: 25px;
}

nav {
    display: flex;
    text-align: center;
    width: 30%;
    justify-content: space-between;

}
a {
    text-decoration: none;
}
.contact {
    margin-left: 30%;
    background-color:#FFD2A4;
    align-items: center;
    width: 150px;
    height:50px;
    border-radius: 12px;
    position: relative;
    left: -20px;
    bottom: 10px;
    
}
.church {
    background-image: url(images/woman-in-orange-coat-with-black-and-brown-scarf-5418305.jpg);
    background-size: cover;
    background-position: center;
    padding: 200px 100px;
   

}
.button2 {
    margin-left: 30%;
    background-color:#FFD2A4;
    align-items: center;
    width: 150px;
    height:50px;
    margin-bottom: 60px;
    border-radius: 12px;
    position: relative;
    right: 325px;
}
hr{
    width: 3%;
    color: #FFD2A4;
}
.church h5,h1 {
    color: white;
    margin-bottom: 50px;  
}
.paragraph {
    color: white;
    position: relative;
    right: 380px;
    bottom:10px;
    /* text-align: right; */
}
h5 {
    margin-bottom: 15px;
    font-weight: 700px;
}
h1 {
    font-size: 250%;
    word-spacing: 5px;
    line-height: 50px;
   
}
h2 {
   text-align: center;
   margin: 100px 0 50px 0;
   font-size: 48px;
   color: #161722;
   letter-spacing: -0.01em;
}
.giving-back {
    display: flex;
    justify-content: center;
    
}
.small-container {
    /* border: 1px solid black; */
    margin-right: 15px;
    padding: 120px 30px 0px 20px;
    height: 300px;
    line-height: 20.0px;
    background: #FFF5EB;
} 
/* .line-1{
    /* margin-top: 40px;
    width:400px;
    height: 5px;
  background:#FFD2A4; */
   */
h3 {
    margin-bottom: 30px;
    color: #161722;
    letter-spacing: -0.01em;
}
p {
    text-align: center;
    font-weight:lighter;
}
.button3 {
    margin-left: 70%;
    background-color:#FFD2A4;
    align-items: center;
    width: 150px;
    height:50px;
    border-radius: 12px;
    position: relative;
    bottom: -15px;
    right: 350px;
   
}
/* .class-images{
    margin-bottom: 1200px;
} */
.images {
    display: flex;
   justify-content: space-evenly;
   
}
.bearded-man {
    width: 350px;
    height: 600px;
}
.reading {
    margin-top: 70px;
}
.celebrate {
    text-align: center;
    font-weight: 700px;
    margin: 20px 0 20px 0;
    word-spacing: 8px;
}
.mission {
    margin-top: 40px;
    padding-bottom: 50px;
}
.more {
    margin-top: 20px;
}
.benefits {
    background-color:  #F5F2F0;
    /* padding: 150px 0 40px 0;
} */
}
.nun {
    background-image: url(images/fashion-man-love-people-5875438.png);
    background-size: cover;
    padding: 5px 20px;
    width: 300px;
    height: 350px;
   
}
.bible {
    background-image: url(images/a-statue-holding-a-holy-book-5613134.png);
    background-size: cover;
    /* padding: 200px 70px; */
    width: 300px;
    height: 350px;
}
.priest {
    background-image: url(images/man-people-woman-connection-6276711.png);
    background-size: cover;
    /* padding: 200px 70px; */
    width: 300px;
    height: 350px;
}
.picture {
    background-image: url(images/woman-in-blue-tank-top-and-man-in-red-shirt-painting-3795022.png);
    background-size: cover;
    /* padding: 200px 70px; */
    width: 300px;
    height: 350px;
}
.prayer-room {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    
}

h6 {
    font-size: 18px;
    color: white;
    margin-right: 15px; 
}
.paragraph-nun {
    margin-right: 15px;
    margin-top: 150px;
    padding: 50px 30px 0px 20px;
    text-align: left;
}


